@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli:700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 5% 10%;
    background-color: #131416;
}

.feed {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 350px;
    grid-gap: 16px;
    margin: 40px 0 40px 0;
}

.card__category {
    font-family: Muli, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ECF0F1;
    margin: 0;
}

.card__title {
    font-family: Libre Baskerville, serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #ECF0F1;
    margin: 10px 0 0 0;

}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.02);
}

.card:nth-child(1) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-1.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-1.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-1.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-1.jpg');
}

.card:nth-child(2) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-2.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-2.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-2.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-2.jpg');
}

.card:nth-child(3) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-3.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-3.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-3.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-3.jpg');
}

.card:nth-child(4) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-4.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-4.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-4.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-4.jpg');
}

.card:nth-child(5) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-5.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-5.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-5.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-5.jpg');
}

.card:nth-child(6) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-6.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-6.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-6.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-6.jpg');
}

.card:nth-child(7) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-7.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-7.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-7.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-7.jpg');
}

.card:nth-child(8) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-8.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-8.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-8.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-8.jpg');
}

.card:nth-child(9) {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(10,10,10,0)),
        color-stop(50%, rgba(10,10,10,0)),
        to(rgba(10,10,10,0.7))),url('images/image-9.jpg');
    background-image: -webkit-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-9.jpg');
    background-image: -o-linear-gradient(
        top,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-9.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 50%,
        rgba(10,10,10,0.7) 100%),url('images/image-9.jpg');
}
.card:nth-child(1),:nth-child(6),:nth-child(7) {
        -ms-grid-column: span 6;
        grid-column-start: span 6;
}

.card:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5),:nth-child(8),:nth-child(9) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
}

@media screen and (max-width: 1200px) {
    .card:nth-child(n) {
        -ms-grid-column: span 6;
            grid-column-start: span 6;
    }
}

@media screen and (max-width: 800px) {
    .card:nth-child(n) {
        -ms-grid-column: span 12;
            grid-column-start: span 12;
    }
}